#ignore netbeans project
nbproject

#ignore system folders content
www/assets/*
www/files/*
www/protected/runtime/*
tests/unitTests/files/*
#*.orig files created by kdiff3 after merge
*.orig
#*.bak files
*.bak

# exclude .gitignore files
!.gitignore
